<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro_datos_usuario</ion-title>
  </ion-toolbar>
</ion-header>


<style>
  body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }

  form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input:focus {
    outline: none;
    border-color: #007bff;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro_datos_usuario</ion-title>
    </ion-toolbar>
  </ion-header>



  <form action="#" method="post">
    <h2>Datos usuario</h2>

    <label for="nombre">Edad:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="apellido">Estatura:</label>
    <input type="text" id="apellido" name="apellido" required>

    <label for="email">Sexo:</label>
    <input type="email" id="email" name="email" required>

    <label for="contraseña">% de Grasa:</label>
    <input type="password" id="contraseña" name="contraseña" required>

    <label for="contraseña">Peso:</label>
    <input type="password" id="contraseña" name="contraseña" required>

    <label for="pais">Mesotipo:</label>
    <select id="pais" name="pais">
      <option value="">Selecciona un Mesotipo</option>
      <option value="españa">Ectomorfo</option>
      <option value="mexico">Mesomorfo</option>
      <option value="argentina">Endomorfo</option>
      </select>

    <button type="submit">Guardar</button>
  </form>


</ion-content>
